body{
  background-image: url(../../assets/img/sky-828648_1920.jpg);  
}
.form-control{
  width: 50%;
  margin-top: 15%;
  margin-left: 20%;
  text-align: center;
  height: 25vh;
  border-width: 0.2em;
  border-color:black;
}
.btn-danger{
  border-radius: 4px;  
  margin-top:5%;
  margin-left: 50%;
}
.comment{
 margin: 5px;
 border-color: black;
}

.btnGreen{
  background-color: green;
  border-color: green;
}
#contComment{
  background-color: aliceblue;
}
.form-control{
  background-color: rgba(255, 13, 13, 0.288);
}
h3{
  color: white;
}
.containerMen{
border:black;
}