body{
  background-image: url(../../assets/img/photo-1530919424169-4b95f917e937\ \(1\).jpg);
  background-repeat: no-repeat; 
}
h1{
  color: white;
  margin-left: 35%;
  font-family: Impact, Charcoal, sans-serif;
}
.form-control{  
  width: 50%;
  margin-top: 5%;
  margin-left: 25%;
  text-align: center;
  height: 25vh;
  border-width: 0.2em;
  border-color:black;
}
.btn-danger{
  border-radius: 4px;  
  margin-top:5%;    
}
.comment{
 margin: 5px;
 border-color: black;
}

.btnGreen{
  background-color: #02355e;
  border-color: #02355e;
  margin-left: 50%;    
}
#contComment{
  background-color: aliceblue;
}
.form-control{
  background-color: rgba(255, 13, 13, 0.288);
}
h3{
  color: white;
  font-family: Impact, Charcoal, sans-serif;
}
.containerMen{
border:black;
margin: 10px;
}
.container2{  
  margin-right: 12%;
  margin-top: -4%;
}